@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
    /* font-size: 14px; */
    /* line-height: 1.42857143; */
    color: #fff;
    background-color: #333;
}